body {
    font-family: "Arimo", sans-serif;
}


.container {
    border: 19px solid rgb(55, 71, 101);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
        margin: 0 auto;
    text-align: center;
    width: 1192px;
    /*height: 736px;*/
    /*width: 100%;*/
    text-transform: uppercase;
}


.choose {
    background-color: #fafafa;
    color: #484848;
    font-size: 18px;
    font-weight: 700;

}

.choose-plan {
    vertical-align: middle;
}

.prising {
    color: #484848;
    font-size: 30px;
    font-weight: 700;
}

.standart {
    background-color: #89c331;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 26px;
}

.ultimate {
    background-color: #f04a56;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.premium {
    background-color: #20807c;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

tr .price {
    background-color: #fafafa;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    color: #484848;
    padding: 13px 10px;
}

.item {
    display: flex;
}

.dollar {
    font-size: 60px;

    font-weight: 700;
    padding-left: 25px;
}

.cents {
    font-size: 24px;
    font-weight: 700;
    padding-top: 6px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.month {
    font-size: 18px;
}

.storage,.email,.products {
    background-color: #f2f2f2;
    width: 277px;
}


.bandwidth,.support,.users {
    background-color: #e3e3e3;
}


.td-properties{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    color: #484848;
    font-size: 16px;
    line-height: 28px;
    padding: 24px;
}


.contact {
    background-color: #dddddd;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    padding: 29px;
}

.contact-us {
    background-color: #484848;
}

td.buy1 {
    background-color: #eeeeee;
}



button.buy1 {
    background-color: #89c331;
}


td.buy2 {
    background-color: #f4f4f4;
}


button.buy2 {
    background-color: #f04a56;
}


td.buy3 {
    background-color: #eeeeee;
}


button.buy3 {
    background-color: #20807c;
}



td.box-shadow {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.bt:hover {
    color: mintcream;
    background-color: darkseagreen;
}

.bt-properties {
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    height: 35px;
    text-transform: uppercase;
    width: 192px;
    border: none;
}
