
body {
    font-family: verdana,sans-serif;
}

.container-body {
    background: url(../img/backgroundmilanholidays.png) no-repeat;
    background-size: cover;
}

.header {
    padding: 49px 0;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.log-container {
    display: inline-block;
}

.header-logo-link {
    color: #fff;
    text-decoration: none;
}

.header-logo-link:hover {
    color: rgb(242, 101, 34);
}

.header-logo-link:hover .header-logo-img {
    content: url(../img/logo%20orange%20house.png);
}

.header-logo-img {
    float: left;
}

.header-logo-text {
    float: right;
    padding-left: 15px;
}

.header-logo-text-big {
    font-size: 29px;
    font-weight: 700;
}

.header-logo-text-small {
    font-size: 18px;
    font-weight: 700;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.contacts {
    float: right;
    text-align: right;
    font-size: 18px;
    color: #fff;
}

.link-item {
    float: left;
    margin: 0px 63px 58px 0px;
    position: relative;
    text-decoration: none;
}

.link-item:nth-of-type(3n) {
    margin: 0 0 58px 0;
}

.tours-item:hover .turs-item-link {
    display: block;
}

.image {
    border: 2px solid;
    border-image: linear-gradient(white, black);
    border-image-slice: 1;
}

.turs-item-link {
    position: absolute;
    display: none;
    color: #fff;
    background: rgb(242, 101, 34);
    width: 312px;
    height: 60px;
    bottom: 43px;
}

.turs-item-link-text {
    font-size: 10px;
    padding-top: 16px;
    padding-left: 21px;
}

.turs-item-link-text-cur {
    float: left;
    font-size: 20px;
    padding-left: 21px;
}

.turs-item-link-text-right {
    text-align: right;
    padding-right: 15px;
    font-size: 14px;
}

.turs-item-link-text-right::after {
    content: url(../img/Arrow.png);
    padding-left: 10px;
}

.tours {
    text-decoration: none;
}

.card-title {
    padding-top: 22px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.card-title:hover {
    color: #f26522;
}

.footer {
    padding:  20px 0;
}

.footer-content {
    color: #fff;
    text-align: center;
    font-size: 12px;
}
