body {
    font-family: 'Maven Pro', sans-serif;
}

.header {
    padding-top: 61px;
    margin-bottom: 51px;
}

.container {
    width: 1280px;
    margin: 0 auto;


}
 
.header-logo {
    display: inline-block;
    margin-bottom: 45px;
    text-decoration: none;
}

.header-logo-title {
    font-size: 80px;
    color: #000;
}

.text-blue {
    color: #4bcaff;
}

.header-menu {
    text-align: center;
    background-color: #35444f;
}

.header-menu-item {
    display: inline-block;
}

.header-menu-link {
    display: inline-block;
    padding: 26px 41px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: all 0.4s;
}

.header-menu-link:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.main {
    margin-bottom: 51px;
    /*    background-color: #000;*/
}

.left-sidebar {
    width: 344px;
    display: inline-block;
    vertical-align: top;
    padding-right: 45px;
}

.left-menu {
    border: 1px solid #32424e;
}

.left-menu-link {

    padding: 30px 44px;
    display: block;
    font-size: 26.99px;
    width: 100%;
    box-sizing: border-box;
    color: #485863;
    text-decoration: none;
}

.left-menu-link:hover {
    padding-left: 69px;
    background-color: #dcdcdc;

}

.content {
    width: 885px;
    display: inline-block;
    box-sizing: border-box;
}

.main-image {
    padding: 75px;
    border: 1px solid #32424e;
    text-align: center;
    transition: all 0.4s;
}

.main-image:hover .top-image {
    transform: scale(1.1);
    transition:all 2s;
    

}


.content-text {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 40px;
    color: #2c2b2b;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Maven Pro'
}


.footer-menu-item {
    display: inline-block;
}


.footer-menu-link {
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
    text-decoration: none;
    color: #0c1927;
}

.footer-menu-link:hover {
    text-decoration: underline;
    text-decoration-color: #4bcaff;
    color: #4bcaff;
}

.footer-menu {
    background-color: #495863;
    text-align: left;
    padding: 22px 44px;
    margin-bottom: 20px;
}


.footer-copyright {
    font-size: 24px;
    float:right;
    padding: 25px 35px;
}
