.container-body {
    background: url(../img/backgroundmilanholidays.png) no-repeat;
    background-size: cover;
}

body {
    font-family: verdana,sans-serif;
}

.header {
    padding: 49px 0;

}

.container-header {
    width: 1060px;
    margin: 0 auto;
}

.log-container {
    display:grid;
    grid-template-columns:168px 1fr 245px;
}

.header-logo-link {
    color: #fff;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-logo-img{
}

.header-logo-link:hover {
    color: rgb(242, 101, 34);
}

.header-logo-link:hover .header-logo-img {
    content: url(../img/logo%20orange%20house.png);
}

.header-logo-text {
    padding-left: 15px;
    display: grid;
}

.header-logo-text-big {
    font-size: 29px;
    font-weight: 700;
}

.header-logo-text-small {
    font-size: 18px;
    font-weight: 700;
}

.contacts {
    text-align: right;
    font-size: 18px;
    color: #fff;
    grid-column-start: 3;
}


.main-container{
    width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:58px 60px;
}

.main-container-item{
    position: relative;
}

.link-item {
    text-decoration: none;
    color: #fff;
}

.tours-item:hover .turs-item-content {
    display: block;
}

.image {
    border: 2px solid;
    border-image: linear-gradient(white, black);
    border-image-slice: 1;
}

.turs-item-content {
    position: absolute;
    display: none;
    color: #fff;
    background: rgb(242, 101, 34);
    width: 312px;
    height: 60px;
    bottom: 43px;

}

.content-text {
    font-size: 10px;
    padding-top: 16px;
    padding-left: 21px;
}

.content-text-cur {
    font-size: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 21px;
}

.turs-item-link-text-right {
    text-align: right;
    padding-right: 15px;
    font-size: 14px;
}

.turs-item-link-text-right::after {
    content: url(../img/Arrow.png);
    padding-left: 10px;
}

.tours {
    text-decoration: none;
}

.card-title {
    padding-top: 22px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.card-title:hover .link-item {
    color: #f26522;
}

.footer {
    padding:  90px 0 20px 0;
}

.footer-container{
    width: 1060px;
    margin: 0 auto;
}

.footer-content {
    color: #fff;
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
}
