body {
    font-family: "verdana", "sans-serif";
}

.container-body {
    background: url(../img/rana-sawalha-364253-unsplash.png);
    background-size: cover;
    height: 100vh;
    /*overflow:hidden;*/

}

.main-content {
    background-color: rgba(0, 0, 0, 0.41);
    display: flex;
    height: 54px;
    justify-content: space-between;
}

.header-logo-link {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 80px;
    text-decoration: none;
}

.header-logo-link:hover {
    color: #3cb878;
}

.header-text-right {
    align-items: center;
    display: flex;
    padding: 15px 75px;
}

.header-text-link {
    color:#fff;
    text-decoration: none;
}

.header-icons-link {
    text-decoration:none;
}

.list-item-right{
    display: inline-block;
}

.list-item-right-link{
    color:#fff;
    text-decoration: none;
    font-family: Verdana;
}

.or{
    color:white;
}

.icon{
    background: url(../img/spritesheet5.png) no-repeat;
}
.header-icons-calendar-link{
    background-position: 0 0;
    margin: 0 30px 0 0;
    display: inline-block;
    height: 20px;
    width: 19px;
}

.header-icons-calendar-link.icon:hover {
    background-position: -19px 0;
}

.header-icons-forum-link{
    background-position: -40px 0;
    display: inline-block;
    height: 20px;
    margin: 0 30px 0 0;
    width: 26px;
}

.header-icons-forum-link.icon:hover {
    background-position: -68px 0;
}

.header-icons-journey-link{
    background-position: -94px 0;
    margin: 0 65px 0 0;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.header-icons-journey-link.icon:hover{
    background-position: -114px 0;
}

.green {
    color: #3cb878;
    padding: 0 5px;
}

.green:hover {
    text-decoration: underline;
    color: #3cb878;
}

.container-content{
    position:relative;
    min-height: calc(100vh - 54px);
    /*height: 100vh;*/
    /*border:1px solid white;*/
}

.container-login {
    background-color: #fff;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    height: 584px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 444px;
    border-radius: 7px;
}

.container-login-content {
    padding: 0 60px;
    margin: 0 auto;
}

.header-login-content {
    display: flex;
    padding: 25px 0 15px 0;
    justify-content: space-between;
}

.container-login-shape {
    background-color: #3cb878;
    height: 18px;
    position: absolute;
    margin-top: 27px;
    width: 18px;
}

.header-login-link {
    text-decoration: none;
}

.login-text-left {
    color: #434;
    font-size: 20px;
    text-decoration: none;
}

.login-text-right {
    color: #3cb878;
    text-decoration: none;
}

.login-text-right:hover {
    color: #3cb878;
    text-decoration: underline;
}

.social-network {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn{
    width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}

.btn-facebook{
    background: #264b96;
}

.btn-icon-facebook{
    color:#fff;
    font-size: 20px;
}

.btn-text-facebook{
    font-size: 16px;
    color:#fff;
    position: relative;
}

.btn-text-facebook::before{
    content: "";
    width: 2px;
    height: 30px;
    background: #625D5D;
    position: absolute;
    left: -15px;
    bottom:-7px;
}

.btn-facebook:hover{
    background: #3cb878;
}

.btn-google{
    background: #df4a32;
}

.btn-icon-google{
    color:#fff;
    font-size: 20px;
}

.btn-text-google{
    font-size: 16px;
    color:#fff;
    position: relative;
}

.btn-text-google::before{
    content: "";
    width: 2px;
    height: 30px;
    background: #625D5D;
    position: absolute;
    left: -20px;
    bottom:-7px;
}

.btn-google:hover{
    background: #3cb878;
}

.line {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.line-left {
    border-bottom: #848484 solid 1px;
    width: 165px;
}

.line-text {
    color:  #848484;
    padding: 0 19px;
}

.line-right {
    border-bottom: #848484 solid 1px;
    width: 165px;
}

.login-text-field {
    border:1px solid #eaeaea;
    background-color: #fff;
    color:  #bebebe;
    height: 46px;
    margin: 5px 0;
    width: 322px;
    border-radius:3px;
}

.checkbox{
    margin: 10px 0 0;
}

.login-text-field:focus {
    border-radius: 3px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    border-color: transparent;
    color:#434343;
    outline: none;
}

::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #bebebe;
}

.login-text-field-button {
    border-radius: 5px;
    border: none;
    background-color: #3cb878;
    color: #fff;
    height: 46px;
    font-size: 16px;
    margin: 20px 0;
    outline: none;
    width: 328px;
}






